.orders-modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 16;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000b3;;
}
.payment-modal-show{
    display: block;
}
.orders-modal-body{
    max-width: 405px;
    margin-left: auto;
    height: 100vh;
    padding-top: 64px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: #1f1d2b;
    border-radius: 16px 16px 0px 16px;
    overflow-y: scroll;
}
.orders-modal-body::-webkit-scrollbar {
    width: 0;  
}


.orders-modal-top{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #393c49;
}
.orders-modal-top-title{
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #fff;
}
.ordes-modal-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #abbbc2;
}
.orders-modal-text{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;    
}
.orders-modal-cardlist{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.orders-modal-label{
    display: block;
    margin-top: 16px;
}
.orders-modal-label-title{
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
}
.orders-modal-input{
    font-size: 14px;
    line-height: 140%;
    color: #e0e6e9;
}
.orders-modal-form-box{
    display: flex;
    align-items: center;
}
.orders-modal-form-box-top{
    margin-top: 24px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #393c49;
}
.orders-modal-label-mini{
    width: 100%;
    max-width: 172px;
    margin-right: 13px;
}
.orders-modal-select{
    width: 100%;
}
.orders-modal-btnbox{
    display: flex;
    align-items: center;
    margin-top: 89px;
}
.orders-modal-cancel-btn{
    display: inline-block;
    max-width: 175px;
    width: 100%;
    margin-right: 8px;
    padding: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #ea7c69; 
    background-color: transparent;
    border: 1px solid #ea7c69;
    border-radius: 8px;    
}
.orders-modal-confirm-btn{
    display: inline-block;
    padding: 14px;
    max-width: 175px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #fafafa;
    background-color: #ea7c69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
    border-radius: 8px;   
    border: 1px solid #ea7c69; 
}