.dashboard {
	display: flex;
	margin-top: 24px;
	padding-left: 128px;
	height: 100vh;
	overflow-y: scroll;
}
.dashboard__wrapper {
	margin-right: 24px;
}
.dashboard__heading-inner {
	margin-bottom: 24px;
	padding-bottom: 24px;

	border-bottom: 1px solid #393c49;
}
.dashboard__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 4px;
	color: #ffffff;
}
.dashboard__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 0;
	color: #abbbc2;
}
.dashboard__list {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 24px;
}
.dashboard__item {
	max-width: 199px;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	background-color: #1f1d2b;
	border-radius: 8px;
}
.dashboard__item:not(:last-child) {
	margin-right: 24px;
}
.dashboard__inner {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.dashboard__inner-icon {
	margin-right: 12px;
}

.dashboard__inner-img {
	margin-left: 6px;
}
.text-red {
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #ff7ca3;
}
.text-green {
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #50d1aa;
}
.dashboard__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 8px;
	color: #ffffff;
}
.dashboard__desc {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	margin: 0;
	color: #abbbc2;
}
.table-wrapper {
	max-width: 646px;
	padding-top: 24px;
	background-color: #1f1d2b;
	border-radius: 8px;
	height: 515px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.table-inner {
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	// border-bottom: 1px solid #393C49;
}
.table-select {
	padding: 13.5px 14.5px;
	padding-left: 44px;
	appearance: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #ffffff;
	background-color: #1f1d2b;
	border: 1px solid #393c49;
	border-radius: 8px;
	background-image: url("../../assets/images/Option.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: left 14px center;
}
.table {
	margin-right: 0;
}
.table-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	margin: 0;
	color: #ffffff;
}
.table-heading-wrapper {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #393c49;
	padding-left: 25px;
	padding-right: 64px;
}
.table-heading {
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 16px;
	text-align: start;
	color: #ffffff;
}
.table-heading:nth-child(1) {
	margin-right: 125px;
}
.table-heading:nth-child(2) {
	margin-right: 130px;
}
.table-heading:nth-child(3) {
	margin-right: 69px;
}
.table-wrap {
	display: flex;
	margin-top: 16px;
}
.table-inner-wrap {
	display: block;
	margin-right: 51px;
	margin-left: 24px;
}
.table-user {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
	padding: 10px 0 24px 0 !important;
}
.table-user-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	margin-left: 16px;
	color: #e0e6e9;
}
.table-menu {
	display: flex;
	flex-direction: column;
	width: 137px;
	margin-right: 32px;
}
.table-menu-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 2px;
	border-bottom-width: 0 !important;
	padding: 14px 0 14px 0 !important;
	color: #e0e6e9;
}
.table-total-payment {
	display: flex;
	flex-direction: column;
	margin-right: 118px;
}

.table-total-payment-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 2px;
	padding: 17px 0 30px 0 !important;
	border-bottom-width: 0 !important;
	color: #e0e6e9;
}
.table-status {
	display: flex;
	flex-direction: column;
}
.table-status-title {
	margin: 16px 0 26px 0;
	padding: 4px 12px!important;
	font-weight: 500;
	font-size: 14px;
	border-bottom-width: 0!important;
	line-height: 130%;
	text-align: center;
	color: #50d1aa;
	border-radius: 30px;
	background-color: #6be2be3d !important;
}
.table-status-title:nth-child(2) {
	background-color: rgba(146, 144, 254, 0.2) !important;
	color: #9290fe;
}
.table-status-title:nth-child(3) {
	background-color: rgba(255, 181, 114, 0.2) !important;
	color: #ffb572;
}

.dashboard__orders-most-order {
	max-width: 372px;
	width: 100%;
	background: #1f1d2b;
	border-radius: 8px;
	padding: 24px;
}
.dashboard__orders-most-order:nth-child(1) {
	margin-bottom: 24px;
}
.dashboard__orders-select {
	width: 100px;
	appearance: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	padding: 13.5px 14px 13.5px 44px;
	background-color: #1f1d2b;
	color: #ffffff;
	border: 1px solid #393c49;
	border-radius: 8px;
	background-image: url("../../assets/images/arrow-ios-down.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: left 14px center;
}
.dashboard__orders-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #393c49;
}
.apexcharts{
	// display: flex;
	// align-items: center;
}
.dashboard__order-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	margin: 0;
	color: #ffffff;
}
.dashboard__orders-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.dashboard__orders-item {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
.dashboard__orders-img {
	border-radius: 50%;
	margin-right: 16px;
}

.dashboard__orders-list-inner-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	margin-top: 0;
	margin-bottom: 4px;
	color: #e0e6e9;
}

.dashboard__orders-list-inner-desc {
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 0;
	color: #abbbc2;
}
.dashboard__order-button {
	width: 331px;
	padding: 14px 137.5px;
	margin-top: 8px;
	color: #ea7c69;
	background-color: transparent;
	border: 1px solid #ea7c69;
	border-radius: 8px;
}
.chart {
	width: 178px !important;
	height: 178px;
}
.apexcharts__list{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.apexcharts__item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 16px;
}
.dine-in {
	display: inline-block;
	margin-right: 9px;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: #ff7ca3;
}
.to-go {
	display: inline-block;
	margin-right: 9px;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: #ffb572;
}
.delivery {
	display: inline-block;
	margin-right: 9px;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: #65b0f6;
}
.apexcharts__title {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	margin-top: 0;
	margin-bottom: 2px;
	align-items: center;
	color: #ffffff;
}
.apexcharts__desc {
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	margin: 0;
	align-items: center;
	color: #abbbc2;
}
