.home-inner{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: 106px;
}
.home-wrapper{
    width: 100%;
    padding-right: 46px;
}
.dishes-list-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 58px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}