.site-navbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding-top: 24px;
	background-color: #1f1d2b;
	border-top-right-radius: 16px;
	overflow-y: scroll;
}

.site-navbox::-webkit-scrollbar {
	width: 0;
}

.logo-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: inline-block;
	margin: 0 auto;
}

// .site-nav{
//     margin-right: 26px;
// }

.nav-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 12px;
	list-style: none;
}

.nav-item {
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
}
.nav-link {
	display: inline-block;
	padding-top: 13px;
	padding-right: 24px;
	padding-bottom: 11px;
	padding-left: 12px;
	border-radius: 12px 0px 0px 12px;
	background-color: transparent;
	color: #ea7c69;
	transition: background-color 0.3s ease;
	&:hover {
		color: #ea7c69;
	}
}
.nav-link-active {
	background-color: #252836;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.nav-link-iconbox {
	display: inline-block;
	padding: 16px;
}
.nav-link-active .nav-link-iconbox {
	background-color: #ea7c69;
	box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
	border-radius: 8px;
}
.nav-link-active::before {
	display: inline-block;
}
.nav-link-active::after {
	display: inline-block;
}
.nav-link-active-top-border {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 12px;
	background-color: #252836;
}
.nav-link-active-top-border::before {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 12px;
	background-color: #1f1d2b;
	content: "";
}
.nav-link-active-bottom-border {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 12px;
	background-color: #252836;
}
.nav-link-active-bottom-border::before {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 12px;
	background-color: #1f1d2b;
	content: "";
}
.nav-link-active ~ .nav-link-active-top-border::before {
	border-bottom-right-radius: 12px;
}
.nav-link-active ~ .nav-link-active-bottom-border::before {
	border-top-right-radius: 12px;
}
.log-out-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
}
.log-out-link {
	display: inline-block;
	color: #ea7c69;
}
